/* ===== Fondo general ===== */
body{
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;

    background:
    linear-gradient(135deg, #f8fafc, #dbeafe);

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== Caja principal ===== */
.container{
    width: 440px;

    background: white;

    padding: 28px;

    border-radius: 24px;

    box-shadow:
    0px 10px 35px rgba(0,0,0,0.12);
}

/* ===== Título ===== */
h1{
    text-align: center;

    color: #1e293b;

    margin-bottom: 25px;

    font-size: 32px;
}

/* ===== Área input ===== */
.input-area{
    display: flex;

    gap: 10px;

    margin-bottom: 20px;
}

/* ===== Input ===== */
#inputTarea{
    flex: 1;

    padding: 14px;

    border-radius: 14px;

    border: 2px solid #dbeafe;

    outline: none;

    font-size: 15px;

    transition: 0.2s;
}

#inputTarea:focus{
    border-color: #60a5fa;

    box-shadow:
    0px 0px 10px rgba(96,165,250,0.3);
}

/* ===== Botón agregar ===== */
#btnAgregar{
    border: none;

    padding: 14px 18px;

    border-radius: 14px;

    cursor: pointer;

    color: white;

    font-weight: bold;

    background:
    linear-gradient(135deg, #3b82f6, #2563eb);

    transition: 0.25s;
}

#btnAgregar:hover{
    transform: translateY(-2px) scale(1.04);

    box-shadow:
    0px 8px 18px rgba(59,130,246,0.35);
}

/* ===== Contador ===== */
#contador{
    text-align: center;

    color: #475569;

    margin-bottom: 18px;

    font-weight: bold;
}

/* ===== Lista ===== */
#lista{
    padding: 0;
    margin: 0;
}

/* ===== Cada tarea ===== */
#lista li{
    list-style: none;

    background: #f8fafc;

    margin-bottom: 14px;

    padding: 15px;

    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 8px;

    color: #1e293b;

    transition: 0.25s;

    border: 1px solid #e2e8f0;
}

/* Hover tarea */
#lista li:hover{
    transform: translateY(-2px);

    background: #eff6ff;
}

/* ===== Botones de tareas ===== */
#lista li button{
    border: none;

    cursor: pointer;

    padding: 9px 11px;

    border-radius: 12px;

    transition: 0.2s;
}

/* ===== Botón eliminar ===== */
.btn-eliminar{
    background:
    linear-gradient(135deg, #f87171, #ef4444);

    color: white;
}

.btn-eliminar:hover{
    transform: scale(1.08);

    box-shadow:
    0px 5px 14px rgba(239,68,68,0.35);
}

/* ===== Botón completar ===== */
#lista li button:last-child{
    background:
    linear-gradient(135deg, #4ade80, #22c55e);

    color: white;
}

#lista li button:last-child:hover{
    transform: scale(1.08);

    box-shadow:
    0px 5px 14px rgba(34,197,94,0.35);
}